@media (max-width: 1500px) {
  .form_title {
    padding: 0 30%;
  }
}

@media (max-width: 1250px) {
  .form {
    padding: 50px 40px;
  }
  .form_title {
    text-align: center;
    margin-bottom: 56px;
    font-size: 34px;
    line-height: 40.8px;
    padding: 0 27%;
  }
  .text-for-form{
    padding: 50px 40px;
    border-radius: 18px;
    background-color: var(--dark-white-color);
    max-width: 688px;
    max-height: 1011px;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    margin-bottom: 32px;
  }
  .text-for-form::-webkit-scrollbar {
    width: 3px;
  }
  .text-for-form::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
  .text_title {
    text-align: center;
    font-size: 34px;
    line-height: 40.8px;
    margin-bottom: 33px;
  }
  .text_descr {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
  }
  .form_item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
  }
  .form_label, .form_input {
    width: 100%;
  }
  .form_label {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--sun-black-color);
    margin-bottom: 17px;
  }
  .form_input {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--sun-black-color);
    border: none;
    padding: 0 0 17px 0;
    border-bottom: 1px solid var(--gray-color);
    outline: none;
    margin-bottom: 10px;
  }
  .form_input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--gray-color);
  }
  .error {
    border-bottom: 1px solid #FF0000;
  }
  .error-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #FF0000;
  }
  .btn {
    padding: 12px;
    max-width: 120px;
  }  
  .text-bold {
    font-weight: 700;
  }
  .text-indent {
    text-indent: 30px;
  }
  .mb-0 {
    margin: 0;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .pl-20 {
    padding-left: 20px;
  }
  .text-up {
    text-transform: uppercase;
  }
  .text-center {
    text-align: center;
  }
  .row-for-table {
    padding: 10px;
  }
  .text-for-table {
    font-size: 14px;
    line-height: 18px;
  }
  .table-title {
    font-size: 25px;
    line-height: 32px;
  }
  .table-descr {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 1100px) {
  .form_container {
    flex-wrap: wrap;
  }
  .form_title {
    text-align: center;
    margin-bottom: 56px;
    font-size: 34px;
    line-height: 40.8px;
    padding: 0 23%;
  }
  .form_content {
    width: 80%;
  }
  .text-for-form{
    max-width: 80%;
    margin-right: 0;
  }
  .text-for-form::-webkit-scrollbar {
    width: 3px;
  }
  .text-for-form::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
  .text_title {
    text-align: center;
    font-size: 34px;
    line-height: 40.8px;
    margin-bottom: 33px;
  }
  .text_descr {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
  }
  .form_item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
  }
  .form_item-img {
    width: 40%;
  }
  .form_label, .form_input {
    width: 100%;
  }
  .form_label {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--sun-black-color);
    margin-bottom: 17px;
  }
  .form_input {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--sun-black-color);
    border: none;
    padding: 0 0 17px 0;
    border-bottom: 1px solid var(--gray-color);
    outline: none;
    margin-bottom: 10px;
  }
  .form_input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--gray-color);
  }
  .block_date {
    display: block;
  }
  .block_date-item {
    width: 100%;
  }
  .error {
    border-bottom: 1px solid #FF0000;
  }
  .error-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #FF0000;
  }
  .form_button {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 50%;
  }
  .btn {
    max-width: 158px;
  }  
  .text-bold {
    font-weight: 700;
  }
  .text-indent {
    text-indent: 30px;
  }
  .mb-0 {
    margin: 0;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .pl-20 {
    padding-left: 20px;
  }
  .text-up {
    text-transform: uppercase;
  }
  .text-center {
    text-align: center;
  }
  .row-for-table {
    padding: 10px;
  }
  .text-for-table {
    font-size: 14px;
    line-height: 18px;
  }
  .table-title {
    font-size: 25px;
    line-height: 32px;
  }
  .table-descr {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 900px) {
  .form_title {
    padding: 0 18%;
  }
  .form_item-img {
    min-width: 45%;
  }
  .form_button {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .form {
    padding: 50px 40px;
  }
  .form_title {
    text-align: center;
    margin-bottom: 56px;
    font-size: 34px;
    line-height: 40.8px;
    padding: 0 10%;
  }
  .form_content {
    width: 100%;
    max-width: 664px;
  }
  .text-for-form{
    padding: 50px 40px;
    border-radius: 18px;
    background-color: var(--dark-white-color);
    max-width: 664px;
    max-height: 1011px;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    margin-bottom: 32px;
  }
  .text-for-form::-webkit-scrollbar {
    width: 3px;
  }
  .text-for-form::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
  .text_title {
    text-align: center;
    font-size: 34px;
    line-height: 40.8px;
    margin-bottom: 33px;
  }
  .text_descr {
    font-size: 18px;
    line-height: 27px;
    margin: 0;
  }
  .form_item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
  }
  .form_item-img {
    width: 50%;
    min-width: 50%;
  }
  .form_label, .form_input {
    width: 100%;
  }
  .form_label {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--sun-black-color);
    margin-bottom: 17px;
  }
  .form_input {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--sun-black-color);
    border: none;
    padding: 0 0 17px 0;
    border-bottom: 1px solid var(--gray-color);
    outline: none;
    margin-bottom: 10px;
  }
  .form_input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--gray-color);
  }
  .block_date {
    display: flex;
    flex-wrap: wrap;
  }
  .block_date-item {
    width: 40%;
    margin-right: 10%;
  }
  .error {
    border-bottom: 1px solid #FF0000;
  }
  .error-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #FF0000;
  }
  .form_button {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
  }
  .btn {
    max-width: 158px;
  }  
  .text-bold {
    font-weight: 700;
  }
  .text-indent {
    text-indent: 30px;
  }
  .mb-0 {
    margin: 0;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .pl-20 {
    padding-left: 20px;
  }
  .text-up {
    text-transform: uppercase;
  }
  .text-center {
    text-align: center;
  }
  .row-for-table {
    padding: 10px;
  }
  .text-for-table {
    font-size: 14px;
    line-height: 18px;
  }
  .table-title {
    font-size: 25px;
    line-height: 32px;
  }
  .table-descr {
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 590px) {
  .form_title, .text_title {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    color: var(--sun-black-color);
    }
    .form_title {
      padding: 0 12%;
    }
    .text_descr {
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--sun-black-color);
    }
    .form_item-img {
      width: 60%;
      min-width: 60%;
    }
    .block_date {
      display: block;
    }
    .block_date-item {
      width: 100%;
      margin-right: 0;
    }
    .text-bold {
      font-weight: 700;
    }
    .text-indent {
      text-indent: 30px;
    }
    .mb-0 {
      margin: 0;
    }
    .mb-10 {
      margin-bottom: 10px;
    }
    .mb-20 {
      margin-bottom: 20px;
    }
    .mb-100 {
      margin-bottom: 100px;
    }
    .pl-20 {
      padding-left: 20px;
    }
    .text-up {
      text-transform: uppercase;
    }
    .text-center {
      text-align: center;
    }
    .row-for-table {
      padding: 10px;
    }
    .text-for-table {
      font-size: 14px;
      line-height: 18px;
    }
    .table-title {
      font-size: 25px;
      line-height: 32px;
    }
    .table-descr {
      font-size: 12px;
      line-height: 16px;
    }
}

@media (max-width: 500px) {
  .form {
    padding: 40px 16px 60px 16px;
  }
  .form_title {
    text-align: center;
    margin-bottom: 40px;
  }
  .text-for-form{
    padding: 40px 27px;
    border-radius: 18px;
    background-color: var(--dark-white-color);
    max-width: 100%;
    max-height: 650px;
    width: 100%;
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    margin-bottom: 32px;
  }
  .text-for-form::-webkit-scrollbar {
    width: 3px;
  }
  .text-for-form::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
  .text_title {
    text-align: center;
  }
  .form_item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 22px;
  }
  .form_label, .form_input {
    width: 100%;
  }
  .form_label {
    font-size: 14px;
    line-height: 20px;
    color: var(--sun-black-color);
    margin-bottom: 17px;
  }
  .form_input {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--sun-black-color);
    border: none;
    padding: 0 0 17px 0;
    border-bottom: 1px solid var(--gray-color);
    outline: none;
    margin-bottom: 10px;
  }
  .form_input::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: var(--gray-color);
  }
  .error {
    border-bottom: 1px solid #FF0000;
  }
  .error-message {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.8px;
    color: #FF0000;
  }
  .form_button {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
  }
  .btn {
    max-width: 158px;
  }
  .text-bold {
    font-weight: 700;
  }
  .text-indent {
    text-indent: 30px;
  }
  .mb-0 {
    margin: 0;
  }
  .mb-10 {
    margin-bottom: 10px;
  }
  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-100 {
    margin-bottom: 100px;
  }
  .pl-20 {
    padding-left: 20px;
  }
  .text-up {
    text-transform: uppercase;
  }
  .text-center {
    text-align: center;
  }
  .row-for-table {
    padding: 10px;
  }
  .text-for-table {
    font-size: 14px;
    line-height: 18px;
  }
  .table-title {
    font-size: 25px;
    line-height: 32px;
  }
  .table-descr {
    font-size: 12px;
    line-height: 16px;
  }
}  

  @media (max-width: 420px) {
    .form_title {
      padding: 0;
    }
    .form_item-img {
      width: 100%;
    }
    .form_button {
      max-width: 100%;
    }
  }

  @media (max-width: 365px) {
    .btn {
      width: 40%;
    }
}